 .form1
   {
       margin: 0;
       padding: 12px 0;
       text-align: left;
       background-color: lightseagreen;
       color: white;
   }

   /* .formSearch
  {
    padding:10px 0;
    box-sizing: border-box; 
    background-color: lightgray;
    margin-bottom: 10px;
    height: 145px;
 } */
 .react-datepicker-wrapper,.react-datepicker__input-container{
     width: 100%;
 }
  .uploadFiles{
      margin-left: 87%;
      margin-top: 0.1%;
       width: 160px;
  }

 .clntEmpButton{
      margin-top: 1.8%;
 }
 .btnLeft
 {
    margin-left: 10px;
 }

 .ClientEmpSearch
  {
    padding:10px 0;
    box-sizing: border-box; 
    background-color: lightgray;
    margin-bottom: 10px;
    height: 98px;
 }

 .btstrap{
    margin-top: 10px;
}
.clientEmpContainer{
  position: absolute;
  margin-left:8%;
  margin-right: 8%;
}
