.headercon{
    margin-top:50px;  
}

.EmpBootstrap
{
    margin-top: 55px;
}

.Empheading{
 text-align: left;
 background : lightseagreen; 
  height: 40px;
  padding-left: 20px; 
  padding-top: 7px;
  color:white; 
}

.btn-xl {
  width: 30px;
  height: 30px;
  padding: 10px 10px;
  line-height: 1.33;
  border-radius: 50%;
  background-color: #ffffff;
  text-align: center;
  font-size: 14px;
  border-width: 2px;
  border-color: #00ABE2;
  display: inline-block;
}

.horizontal{
    display: inline-block;
    width: 100px;
}


.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  margin-top: 0.5%;
}

.empDates{
    line-height: 19px;
}
.btnClose{
    margin-right: 4%;
    width: 30px; 
    background: white;
    height: 30px; 
}
.btnSave{
    margin-left: 50%;
}
.btnPayscaleSubmit{
    margin-left: 50%;
    margin-top: 1%;
}

.docSearch{
    padding:10px 0;
    background-color: lightgray;
    margin-bottom: 10px;
    height:110px;
    margin-top: 5%;
   
}