    
 .doctorsListContainer{
  position: absolute;
  margin-left:8%;
  margin-right: 8%;
  padding-top: 30px;
 }

   .formSearch
  {
    padding:10px 0;
    box-sizing: border-box; 
    background-color: lightgray;
    margin-bottom: 10px;
    height:64px;
    padding-left: '10px'
 } 

 .headerButton{
    margin: 0;
    text-align: left;
    background-color: lightseagreen;
    color: white;
 }

 .activeCheckbox{
   margin-top: 2.5%;
 }
  .Empheading{
   text-align: left;
   background : lightseagreen; 
   height: 40px;
   padding-left: 20px; 
   padding-top: 7px;
   color:white; 
}
.headercon{
    margin-top:32px;  
}

.doctorContainer{
  position: absolute;
  margin-left:8%;
  margin-right: 8%;
}

  .edit > :hover{
      text-align: center;
     cursor: hand;
 }